@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    margin: 100px 100px;
    padding-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.header .title h1 {
    font-size: 40px;
    cursor: pointer;
    transition: h1 0.5s ease;
}

.header .title h1:hover {
    font-size: 45px;

}

.header .menu a {
    margin-left: 15px;
    transition: link 0.5s ease;
}

.icon {
    width: 40px;
    transition: icon 0.5s ease;
}

.icon:hover {
    width: 50px;
}

.container .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .banner .text-banner {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: text 0.5s ease;
}

.container .banner .text-banner:hover {
    font-size: 27px;
}

.container .banner .text-banner .btn {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 7px 7px 1px rgb(64, 255, 16);
    transition: background-color 0.5s ease;
}

.container .banner .text-banner .btn:hover {
    padding: 15px 25px;
    font-size: 30px;
    background-color: rgb(64, 255, 16);
    box-shadow: 7px 7px 1px blueviolet;
}

.container .banner .img {
    box-shadow: 7px 7px 1px aqua;
    cursor: pointer;
    width: 350px;
    transition: img 0.5s ease;
}

.container .banner .img:hover {
    box-shadow: 7px 7px 1px blueviolet;
    cursor: pointer;
    width: 370px;
}

.subtitle {
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    transition: h1 0.5s ease;
}

.subtitle:hover {
    font-size: 45px;
}

.img-grade {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
}

.img-grade-item {
    cursor: pointer;
    text-align: center;
}