@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    margin: 80px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.header .title h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px white;
}

.header .menu a {
    margin-left: 15px;
}