.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002333;
    padding: 10px 20px;
    color: #fff;
}

.header h1{
    text-shadow: 2px 2px 0 #000;
}

.menu {
    text-align: right;
}


.navegar {
    color: #fff;
    font-size: 20px;
    /*font-family:*/
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: #159a9c ; /*mudar depois */
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 0 #000;
    transition: transform 150ms linear;
    border-radius: 10px;
    
}

.button:hover{
    transform: scale(1.05);
}

.banner{
    display: flex;
    justify-content: space-evenly;
    padding: 180px 60px 100px 60px;
    background-color: #002333;

}

.texto{
    padding-top: 20px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-size: 20px;
    text-align: center;
}


.banner h1{
    color: #fff;
    font-size: 50px;
    
}


.banner img{
    height: 300px;
    box-shadow: 2px 2px 0 #000;
}

.container{
    padding: 60px 60px 100px 60px;
    text-align: center;
    font-size: 21px;
}
.title{
    margin-bottom: 40px;
    color: #002333;
}

.skill{
    background-color: #deefe7;
}

.habilidades {
    display: flex;
    justify-content: space-around;
    text-align: left;
}


.projetos{
    background-color: #fff;
}

.contatos{
    background-color: #b4bec9;
}

